*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
}

#header-bar{
    background-image: url("OIP.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin: 45px 150px;
    padding: 40px;
    position: relative;
}

#nav{
    justify-content: center;
    display: flex;
    gap: 10px;   
}

.home{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    margin-right: 30px;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}

.praroz{
    color:orange;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: auto;
}

input{
    color: white;
    background-color: black;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    margin-left: auto;
    border: 1px solid orange;
}

#search{
    color: white;
    background-color: orange;
    height:40px;
    width: 70px;
    text-align: center;
    text-transform: capitalize;
}

.login-box{
    width: 360px;
    height: 430px;
    background: black;
    position: absolute;
    top: 120px;
    right: 100px;         
    padding: 25px;
    border-radius: 10px;
}

.login-box h2{
    color: orange;
    text-align: center;
    margin-bottom: 20px;
}

.login-box input{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid orange;
    color: white;
    margin-top: 25px;
    outline: none;
}

.login-btn{
    width: 100%;
    height: 35px;
    background: orange;
    margin-top: 25px;
}

.login-box .link,
.login-box .liw{
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.login-box a{
    color: orange;
    text-decoration: none;
}

#web-design{
    color: white;
    text-transform: capitalize;
    margin-top: 80px;
    font-size: 45px;
}
#development{
    color: orange;
    font-size: 55px;
    text-transform: capitalize;
}
#course{
    color: white;
    font-size: 45px;
    text-transform: capitalize;
}
p{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}
#join-us{
    color: black;
    background-color: orange;
    border-radius: 0 5px 5px 0;
    width: 90px;
    height: 25px;
    text-transform: uppercase;
}